{% extends 'base.html' %}
{% import '_macros.html' as m %}
{% from '_csrf.html' import csrf %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ _('Staff Login') }}</h5>
        <form method="post">
          {{ csrf() }}
          {% if request.args.get('next') %}
          <input type="hidden" name="next" value="{{ request.args.get('next') }}">
          {% endif %}
          <div class="mb-2">
            <label class="form-label">{{ _('Display name') }}</label>
            <input class="form-control" name="username" placeholder="{{ _('Username') }}">
          </div>
          <div class="mb-3">
            <label class="form-label">{{ _('Password') }}</label>
            <input class="form-control" type="password" name="password" placeholder="{{ _('Password') }}">
          </div>
          <button class="btn btn-primary w-100">{{ _('Log in') }}</button>
        </form>
        <div class="mt-2 text-center">
          <a href="{{ url_for('forgot_password') }}">{{ _('Forgot password?') }}</a>
        </div>
        <div class="mt-2 text-center">
          <a href="{{ url_for('signup') }}">{{ _('Need an account? Sign up') }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
