{% extends 'base.html' %}
{% from '_csrf.html' import csrf %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5 col-xl-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ _('Choose a New Password') }}</h5>
        <form method="post" novalidate>
          {{ csrf() }}
          <div class="mb-3">
            <label class="form-label" for="password">{{ _('New password') }}</label>
            <input class="form-control" type="password" id="password" name="password" required autofocus>
          </div>
          <div class="mb-3">
            <label class="form-label" for="confirm_password">{{ _('Confirm password') }}</label>
            <input class="form-control" type="password" id="confirm_password" name="confirm_password" required>
          </div>
          <button class="btn btn-primary w-100">{{ _('Update password') }}</button>
        </form>
        <div class="mt-3 text-center">
          <a href="{{ url_for('login') }}">{{ _('Return to login') }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
